.base-alert-box {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    justify-items: center;

    gap: 8px;
    width: 100%;
    max-height: 60%;
    left: 0;
    top: 50px;

    pointer-events: none;
    overflow: hidden;
    z-index: 9998;
}

.base-alert-box .note {
    display: flex;

    justify-content: center;
    align-items: center;
    text-align: center;

    width: min(40%, 420px);
    height: 32px;
    padding: 8px 14px;

    border-radius: 6px;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);

    -webkit-user-select: none;
    user-select: none;
    pointer-events: initial;
}

.base-alert-box .note {
    p {
        width: 85%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    img {
        cursor: pointer;
    }

    &.info, &.message {
        color: #000000;
        border: 1px solid #2d2d2d;
        background-color: rgba(205, 205, 205, 0.8);
    }

    &.success {
        color: #00e390;
        border: 1px solid #1b7554;
        background-color: rgba(0, 77, 48, 0.5);
    }

    &.warning, &.warn {
        color: #f4df39;
        border: 1px solid #8a8323;
        background-color: rgba(103, 91, 0, 0.5);
    }

    &.error, &.danger {
        color: #8a0000;
        border: 1px solid #bf0000;
        background-color: rgba(255, 47, 47, 0.5);
    }

    &.show {
        animation: show-animation 150ms forwards;
    }

    &.close {
        animation: hide-animation 150ms forwards;
        pointer-events: none;
    }
}

.base-alert-box .confirm img {
    margin: 0 5px;
}

@keyframes show-animation {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes hide-animation {
    to {
        opacity: 0;
        transform: translateY(-6px);
    }
}