.player-background {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    transform: translateY(100%);
    transition: transform 300ms ease-in-out, background-image 300ms ease;

    background-size: cover;
    background-repeat: no-repeat;
}

.player-background.show {
    pointer-events: auto;
    transform: translateY(0);
}

.player-box {
    width: 100%;
    height: 100%;

    backdrop-filter: brightness(.6) blur(10px);
}

.player-box.show-lyric {
    backdrop-filter: brightness(.3) blur(10px);
}

.upper-container {
    width: 80%;
    height: 80%;
}

.close-player {
    position: absolute;
    display: flex;
    padding: 14px;
    top: 40px;
    left: 30px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

.close-player img {
    width: 24px;
    height: 24px;
    transform: rotateZ(-90deg);
}

.introduction-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}

.text-container {
    display: block;
    width: 80%;
    transition: 200ms;
}

.text-container {
    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

#music-title {
    color: rgba(255, 255, 255, .888);
    font-size: 4rem;
    line-height: 6rem;
}

.author-container {
    color: rgb(171, 171, 171);
    font-size: medium;
}

/* 歌词 */
.lyric-title {
    position: absolute;
    top: 0;
    mix-blend-mode: difference;
    color: white;
    pointer-events: none;
    transition: 200ms;
}

.lyric-title.hide {
    opacity: 0;
}

.lyric-box {
    & {
        position: absolute;
        top: 10%;
        width: calc(100% - 128px);
        height: 70%;
        padding: 0 64px;

        overflow: hidden;
        font-size: 20px;
        color: white;
        transition: 250ms ease-out;
    }

    &.hide {
        opacity: 0;
        pointer-events: none;
    }
}

.lyric-content {
    & {
        position: relative;
        display: flex;
        flex-direction: column;
        top: 40%;
        list-style: none;
        text-align: center;
        user-select: none;
        gap: 25px;
        transition: transform 200ms ease-in-out;
    }

    .lyric-item {
        position: relative;
        height: 25px;
        line-height: 25px;
        opacity: .4;
    }

    .time {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 12px;
        text-align: right;
    }

    .text {
        display: inline;
        cursor: pointer;
        padding: 0 20px 0;
    }

    .text span {
        font-size: 12px;
        pointer-events: none;
    }

    .highlight-line {
        color: #17E883;
        opacity: 1;
    }

    .near-line {
        opacity: 1;
    }
}

.lyric-calibration {
    & {
        position: absolute;
        top: 35%;
        display: flex;
        flex-direction: column;
        z-index: 10;
    }

    img {
        margin: 5px 0;
        cursor: pointer;
        opacity: .4;
    }

    img:hover {
        opacity: .6;
    }

    img:active {
        opacity: 1;
    }
}

#lyric-offset {
    text-align: center;
    font-size: 12px;
}

/* 播放器样式设置*/
.audio-box {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.audio-container {
    width: 90%;
}

/* 进度条样式 */

.player-progress-bar {
    height: 2px;
    margin: 0 0 10px 0;
    background: linear-gradient(
            90deg,
            #ddd,
            #42b680 var(--pct),
            #ddd 0
    );
}

/* 下排控制按钮样式*/
.a-controls {
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
}

/* 时间样式 */
.time-container {
    float: left;
    color: white;
    width: calc(35% - 6px);
    font-weight: 300;
    line-height: 50px;
    white-space: nowrap;
    pointer-events: none;
}

.time-text {
    min-width: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* 中间部分按钮 */
.center-button-container {
    width: 35%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-icon {
    & {
        min-width: 30px;
        min-height: 30px;
        margin: 0 10px;
        outline: none;
        padding: 0;
        cursor: pointer;
    }

    &:hover {
        opacity: .7;
    }

    &:active {
        opacity: .9;
    }
}

.icon-pause, .icon-play, .s-left, .lyric, .mode, .s-right, .volume, .list {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.s-left {
    background-image: url("/img/audio/ico/next.svg");
}

.icon-play {
    float: left;
    min-width: 50px;
    min-height: 50px;
    background-image: url("/img/audio/ico/play.svg");
}

.icon-pause {
    float: left;
    min-width: 50px;
    min-height: 50px;
    background-image: url("/img/audio/ico/pause.svg");
}

.lyric {
    background-image: url("/img/audio/ico/lyric.svg");
}

.s-right {
    background-image: url("/img/audio/ico/per.svg");
}

.volume {
    background-image: url("/img/audio/ico/volume.svg");
}

.muted {
    background-image: url("/img/audio/ico/mute.svg");
}

.list {
    position: absolute;
    right: 80px;
    min-width: 20px;
    min-height: 20px;
    background-image: url("/img/audio/ico/list.svg");
}

/* 音乐列表 */
.close-playing-board {
    display: flex;
    position: fixed;
    height: 100%;
    width: 70%;
    left: 0;
    top: 0;
    z-index: 5;
}

.close-playing-board.hide {
    display: none;
}

.playing-board-container {
    position: fixed;
    height: 100%;
    width: 30%;
    right: 0;
    top: 0;

    z-index: 5;
    transition: transform 300ms ease-in-out;
}

.playing-board-container.hide {
    pointer-events: none;
    transform: translateX(100%);
}

.playing-board {
    width: 100%;
    height: calc(100% - 96px);
    margin: 48px 0;

    box-shadow: #bdbdbd 0 1px 5px;
    background-color: #fff;
    border-radius: 10px 0 0 10px;
    user-select: none;
    -webkit-user-select: none;
}

.playing-board-title {
    display: flex;
    align-items: center;
    color: #595959;
    font-size: 24px;
    font-weight: bold;
    padding: 10% 5% 0 5%;
}

.playing-board-title span {
    flex: 1;
}

.clear-playing-queue {
    cursor: pointer;
}

.playing-queue {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 5% 16px 5%;
    margin: 0;
    gap: 10px;
    max-height: 80%;
    overflow-y: scroll;
}

.playing-queue .queue-row {
    & {
        display: flex;
        align-items: center;
        width: 100%;
        min-height: 50px;
        border-radius: 5px;
        color: #000;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
    }

    &:hover {
        background-color: rgba(218, 218, 218, 0.6);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    &.current {
        color: #1abc9c;
        background-color: rgba(218, 218, 218, 0.6);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .title {
        display: flex;
        flex-direction: column;
    }

    .less {
        font-size: 14px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes loadingProgressBar {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*横条样式*/
#volume-toggle {
    width: 150px;
    min-width: 50px;
    height: 5px;
    appearance: none;
    background-color: #dcdcdc;
    outline: none;
    overflow: hidden;
    border-radius: 15px;
}

/*拖动块的样式*/
#volume-toggle::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1px;
    height: 5px;
    border-radius: 50%;
    background: #42b680;
    cursor: pointer;
    border: 4px solid #33333300;
    box-shadow: -407px 0 0 400px #42b680;
}

#loading {
    display: none;
    margin: 10px 50% 0 50%;
    animation: rotate 1s infinite;
}

#audio-player {
    display: none;
}

#audio-canvas {
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
    position: absolute;
}

/* Overwrite */
.base-input {
    width: 75%;
    padding: 10px;
}

.base-button {
    margin: 0 0 0 5px;
    min-width: 20%;
    height: 40px;
}

.base-file-input-label {
    white-space: none;
    width: 100%;
}